essentia==2.1b6.dev184
joblib==0.17.0
librosa==0.8.0
more-itertools==8.2.0
mutagen==1.45.1
numpy==1.16.5
omegaconf==2.0.2
pandas==1.0.1
pillow==7.2.0
scikit-learn==0.22.2.post1
soundfile==0.10.3.post1
tensorboardX==2.1
torch==1.8.1
torchcontrib==0.0.2
tqdm==4.42.1
typer==0.3.2
